#add_complex {
    margin: 7px 0px 7px 0px !important;
    padding: 10px !important;
    border: 2px dashed #dadada !important;
    border-radius: 3px !important;
}

#cmode input {
    margin: -7px 5px 0px 0px !important;
    vertical-align: middle !important;
}
