<div id="add_complex"><p><b>Добавление комплекса</b></p>                            <label
        for="complex_name">Название:</label> <input id="complex_name" style="display: block;width:100%;">
    <div id="cmode">
        <b>Режим установки значений:</b>
        <label><input checked name="cmode" type="radio" value="set"><span>Задать</span></label>
        <label><input name="cmode" type="radio" value="add"><span>Добавить</span></label>
        <label><input name="cmode" type="radio" value="del"><span>Отнять</span></label>
    </div>
</div>